*{
    background-color: white;
    color: black;
    margin:0;
    padding:0;
    font-family: sans-serif;

}

.clock{
    text-align: center;
    width:auto;
    height: auto;
    padding: 15%;
    font-size: 10vw;
}

.date{
    font-size: 3vw;
    padding: 1%;
    padding-left: 2%;
}
